body {
    background-color: black;
    color: white;
    font-size: 20px;
}

#topbar {
    background-color: #0d1117; 
    padding: 10px 80px;
}

#banner {
    background-color: rgb(29, 29, 59); 
    border: 1px solid grey;
}