body {
    background: radial-gradient(red, blue, green);
    color: white;
    font-size: 20px;
}

#topbar {
    font-family: Macondo;
    background-color: #0d1117; 
    padding: 10px 80px;
}

#banner {
    background-color: rgb(29, 29, 59); 
    border: 1px solid grey;
}

button {
    background-color: white;
    width: 100px;
    height: 40px;
    color: black;
    padding: 10;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0 0 2px 2px white ;
}
