body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.leftSide {
    min-height: 100vh;
    background-color: rgb(25, 24, 24);
    flex: 1;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex: 1;
    margin: 0;
    padding: 0;
}